#body svg .node rect {
	fill: #EEE;
}

#body svg .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: #999;
  stroke-width: 1.5px;
}

#body svg .node text {
	fill: #666;
	font-size: 18px;
	dominant-baseline: central ;
}

#body svg .node text.add {
	cursor: pointer;
	font-size: 18px;
	text-anchor: middle;
}

#body svg .node text.add:hover {
	fill: black;
	font-weight: bolder;
	font-size: 20px;
}

#body svg path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}